
<!-- <div id="newMood">

  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="happy"> Happy/Joyful<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="motivated"> Productive/Motivated/Energetic<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="content"> Normal/Content<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="anxious"> Anxious/Stressed<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="depressed"> Depressed/Lonely<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="sick"> Sick/Tired/Lethargic<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="angry"> Angry/Frustrated/Irritable<br>
</div>
<label>Notes</label><br>
<textarea rows="9" cols="30" value=""></textarea>
<br>
<button (click)="submitMood(newMood.value)">Submit!</button> -->
<div>
  <h4>View Mood</h4>
</div>

<label>Mood</label><br><div id="newMood">
  <form id="addMood">
    <select #mood name="mood">
      <option value="happy">Happy/Joyful</option>
      <option value="energetic">Productive/Motivated/Energetic</option>
      <option value="content">Normal/Content</option>
      <option value="stressed">Anxious/Stressed</option>
      <option value="depressed">Depressed/Lonely</option>
      <option value="tired">Sick/Tired/Lethargic</option>
      <option value="angry">Angry/Frustrated/Irritable</option>
    </select><br><br>
    <textarea placeholder="Add notes here - information such as whether you had unexpected visitors, sold your body to science, took medication, etc." rows="9" cols="30" value="" #moodNotes></textarea><br>
    <button (click)="submitMood(mood.value, moodNotes.value)">Submit!</button>

  </form>
</div>
<br>
<!-- <input #mood type="radio" name="moods" value="happy" [ngModel]="user.mood"> Happy/Joyful<br>
<input #mood type="radio" name="moods" value="motivated" [ngModel]="user.mood"> Productive/Motivated/Energetic<br>
<input #mood type="radio" name="moods" value="content" [ngModel]="user.mood"> Normal/Content<br>
<input #mood type="radio" name="moods" value="anxious" [ngModel]="user.mood"> Anxious/Stressed<br>
<input #mood type="radio" name="moods" value="depressed" [ngModel]="user.mood"> Depressed/Lonely<br>
<input #mood type="radio" name="moods" value="sick" [ngModel]="user.mood"> Sick/Tired/Lethargic<br>
<input #mood type="radio" name="moods" value="angry" [ngModel]="user.mood"> Angry/Frustrated/Irritable<br> -->
<!-- <input type="text" #moodNotes> -->
