
<!-- <div id="newMood">

  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="happy"> Happy/Joyful<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="motivated"> Productive/Motivated/Energetic<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="content"> Normal/Content<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="anxious"> Anxious/Stressed<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="depressed"> Depressed/Lonely<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="sick"> Sick/Tired/Lethargic<br>
  <input id="new-mood" value="newMood" ng-model="string" type="radio" name="mood" value="angry"> Angry/Frustrated/Irritable<br>
</div>
<label>Notes</label><br>
<textarea rows="9" cols="30" value=""></textarea>
<br>
<button (click)="submitMood(newMood.value)">Submit!</button> -->


<br><label>Mood Form</label><br><div id="newMood">
  <form id="addMood">
    <select #month name="month">
      <option disabled selected value>Month</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select><br>
    <select #day name="day">
      <option disabled selected value>Day</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select><br>
    <select #mood name="mood">
      <option disabled selected value>Today I was mostly...</option>
      <option value="happy">Happy/Joyful</option>
      <option value="energetic">Productive/Motivated/Energetic</option>
      <option value="content">Normal/Content</option>
      <option value="stressed">Anxious/Stressed</option>
      <option value="depressed">Depressed/Lonely</option>
      <option value="tired">Sick/Tired/Lethargic</option>
      <option value="angry">Angry/Frustrated/Irritable</option>
    </select><br>
    <textarea placeholder="Add notes here - information such as whether you had unexpected visitors, sold your body to science, took medication, etc." rows="9" cols="30" value="" #moodNotes></textarea><br>
    <button (click)="submitMood(month.value, day.value, mood.value, moodNotes.value)">Submit!</button>

  </form>
</div>
<br>
<!-- <input #mood type="radio" name="moods" value="happy" [ngModel]="user.mood"> Happy/Joyful<br>
<input #mood type="radio" name="moods" value="motivated" [ngModel]="user.mood"> Productive/Motivated/Energetic<br>
<input #mood type="radio" name="moods" value="content" [ngModel]="user.mood"> Normal/Content<br>
<input #mood type="radio" name="moods" value="anxious" [ngModel]="user.mood"> Anxious/Stressed<br>
<input #mood type="radio" name="moods" value="depressed" [ngModel]="user.mood"> Depressed/Lonely<br>
<input #mood type="radio" name="moods" value="sick" [ngModel]="user.mood"> Sick/Tired/Lethargic<br>
<input #mood type="radio" name="moods" value="angry" [ngModel]="user.mood"> Angry/Frustrated/Irritable<br> -->
<!-- <input type="text" #moodNotes> -->
