<h3>Checklist</h3>

<p>Answer the following questions~</p>

<div class="form-group">
    <label for="checklist">Checklist:</label>
    <div *ngFor="let question of questions">
        <label>
          <input type="checkbox"
              [checked]="answerYes" (change)="answerYes = !answerYes" />
            <!-- <input type="checkbox"
                   name="question"
                   value="{{question.value}}"
                   [(ngModel)]="question.checked"/> -->
            {{question.name}}<br>
            {{question.suggestion}}
        </label>
    </div>
</div>
