.container {
  display: flex;
  background-color: lavender;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}

.suggestion {
  color: purple;
  background: aliceblue;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
