<div class="container">
  <div class="top">
    <h3>Sleep Habits Checklist</h3>

    <p>Check all lifestyle statements that apply to you!</p>
  </div>

  <div class="form-group">
    <label for="checklist">Checklist:</label>
    <div *ngFor="let question of questions">
      <label>
        <input type="checkbox" (click)="checkedYes(question)" (change)="answerYes = !answerYes" [checked]="answerYes" />

        {{question.name}}<br>

      <div class="suggestion" *ngIf="answerYes">
        {{question.suggestion}}
      </div>
    </label>
    </div>
  </div>
</div>
