<h3>Checklist</h3>

<p>Answer the following questions~</p>

<div class="quiz-container">
  <input type="checkbox" name="schedule" value=""> <label for="schedule">I do not keep a regular sleep schedule - the spontaneity is thrilling.</label><br>

  <input type="checkbox" name="lightOn" value=""> <label for="light-on">I often keep the light on.</label><br>

  <input type="checkbox" name="sugars" value=""> <label for="sugars">I ingest a lot of sugar and refined carbohydrates.</label><br>

  <input type="checkbox" name="sedentary" value=""> <label for="sedentary">I live a rather sedentary lifestyle, void of regular exercise regardless of how minimal.</label><br>

  <input type="checkbox" name="outside" value=""> <label for="outside">I do not venture to The Outside (hsssss)</label><br>

  <input type="checkbox" name="sun" value=""> <label for="sun">The sun is hideous - I avoid its glare during the daylight hours.</label><br>

  <input type="checkbox" name="workspace" value=""> <label for="workspace">My workspace is not well-lit.</label><br>

  <input type="checkbox" name="caffeine" value=""> <label for="caffeine">I commonly ingest caffeinated goods within 6 hours of bedtime.</label><br>

  <input type="checkbox" name="naptime" value=""> <label for="naptime">I often take naps exceeding 30 minutes past the late afternoon.</label><br>

  <input type="checkbox" name="alcohol" value=""> <label for="alcohol">I often partake in alcoholic libations to the point of inebriation.</label><br>

  <input type="checkbox" name="bluelight" value=""> <label for="bluelight">I am exposed to a backlit screen within a couple hours of sleeptime.</label><br>

<button (click)="submitQuiz()">Analyze!</button>

</div>
