Mood Component

<div class="calendar">
  <div class="chart-label">DAYS</div>
  <div class="chart-label">JAN</div>
  <div class="chart-label">FEB</div>
  <div class="chart-label">MAR</div>
  <div class="chart-label">APR</div>
  <div class="chart-label">MAY</div>
  <div class="chart-label">JUN</div>
  <div class="chart-label">JUL</div>
  <div class="chart-label">AUG</div>
  <div class="chart-label">SEP</div>
  <div class="chart-label">OCT</div>
  <div class="chart-label">NOV</div>
  <div class="chart-label">DEC</div>

  <div class="box-holder" *ngFor="let box of boxes">
    <div class="day"></div>
  </div>
</div>
