<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body lena">
          <p></p>
        </div>
        <div class="card-footer">
          Lena
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body holly">
          <p></p>
        </div>
        <div class="card-footer">
          Holly
        </div>
      </div>
    </div><!--col-->

  </div><!--row-->

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body kevin">
          <p></p>
        </div>
        <div class="card-footer">
          Kevin
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body griffin">
          <p></p>
        </div>
        <div class="card-footer">
          Griffin
        </div>
      </div>
    </div><!--col-->

  </div><!--row-->
</div>
