<div class="container">
  <h2>Why sleep?</h2>
  <p>As coding students, sleep is always on our mind because our studies mean that we often don't get enough! And we know that it affects our physical and mental health, and our ability to focus on our coursework.</p>
  <p>So, we made this tracker and quiz to help you keep a record of your sleep and identify sleep habits and trends.</p>

  <h3>Our team</h3>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body lena">
          <p></p>
        </div>
        <div class="card-footer">
          Lena
          <p><a href="https://github.com/lenjha">GitHub</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body holly">
          <p></p>
        </div>
        <div class="card-footer">
          Holly
          <p><a href="https://github.com/hollywilkalis">GitHub</a></p>
        </div>
      </div>
    </div><!--col-->

  </div><!--row-->

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body kevin">
          <p></p>
        </div>
        <div class="card-footer">
          Kevin
          <p><a href="https://github.com/lemurriot">GitHub</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body griffin">
          <p></p>
        </div>
        <div class="card-footer">
          Griffin
          <p><a href="https://github.com/Griflongtin">GitHub</a></p>
        </div>
      </div>
    </div><!--col-->

  </div><!--row-->
</div>
