<div class="about-container">
  <div class="about-box">
    <div class="sheep-box">
      <div class="sheep-holder">
        <img src="/../assets/sheep/holly-sheep.png" alt="holly's sheep" name="holly-sheep">
        <label for="holly-sheep">Holly</label>
      </div>
      <div class="sheep-holder">
        <img src="/../assets/sheep/lena-sheep.png" alt="lena's sheep" name="lena-sheep">
        <label for="lena-sheep">Lena</label>
      </div>
      <div class="sheep-holder">
        <img src="/../assets/sheep/sleep-train-sheep.png" alt="sleep-train's sheep" name="sleep-train-sheep">
      </div>
      <div class="sheep-holder">
        <img src="/../assets/sheep/kevin-sheep.png" alt="kevin's sheep" name="kevin-sheep">
        <label for="kevin-sheep">Kevin</label>
      </div>
      <div class="sheep-holder">
        <img src="/../assets/sheep/griffin-sheep.png" alt="griffin's sheep" name="griffin-sheep">
        <label for="griffin-sheep">Griffin</label>
      </div>
    </div>
    <div class="content-box">

    </div>
  </div>
</div>
