.card {
  height: 250px;
  max-width: 400px;
  margin: 10px;
  font-family: cute;
  padding: 5px;

  .card-footer {
    font-size: 30px;
    color: black;
    text-align: center;
  }
}
.card-body {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.holly {
  background-image: url("/../assets/sheep/holly-sheep.png");
}
.griffin {
  background-image: url("/../assets/sheep/griffin-sheep.png");

}
.kevin {
  background-image: url("/../assets/sheep/kevin-sheep.png");
}
.lena {
  background-image: url("/../assets/sheep/lena-sheep.png");

}
