<div class="wrapper">


  <div class="head-row box one"></div>
  <div class="head-row box one">7pm</div>
  <div class="head-row box two">8pm</div>
  <div class="head-row box three">9pm</div>
  <div class="head-row box four">10pm</div>
  <div class="head-row box five">11pm</div>
  <div class="head-row box six">12am</div>
  <div class="head-row box seven">1am</div>
  <div class="head-row box eight">2am</div>
  <div class="head-row box nine">3am</div>
  <div class="head-row box ten">4am</div>
  <div class="head-row box eleven">5am</div>
  <div class="head-row box twelve">6am</div>
  <div class="head-row box thirteen">7am</div>
  <div class="head-row box fourteen">8am</div>
  <div class="head-row box fifteen">9am</div>
  <div class="head-row box sixteen">10am</div>
  <div class="head-row box seventeen">11am</div>
  <div class="head-row box eighteen">12pm</div>
  <div class="head-row box nineteen">1pm</div>
  <div class="head-row box twenty">2pm</div>
  <div class="head-row box twenty-one">3pm</div>
  <div class="head-row box twenty-two">4pm</div>
  <div class="head-row box twenty-three">5pm</div>
  <div class="head-row box twenty-four">6pm</div>
</div>

<div class="wrapper" *ngFor="let day of days">
    <div class="box day">{{day}}</div>
    <div class="box one"><input type="checkbox" class="chkbx" id="{{day}}-one1"><label for="{{day}}-one1"></label></div>
    <div class="box two"><input type="checkbox" class="chkbx" id="{{day}}-two1"><label for="{{day}}-two1"></label></div>
    <div class="box three"><input type="checkbox" class="chkbx" id="{{day}}-three1"><label for="{{day}}-three1"></label></div>
    <div class="box four"><input type="checkbox" class="chkbx" id="{{day}}-four1"><label for="{{day}}-four1"></label></div>
    <div class="box five"><input type="checkbox" class="chkbx" id="{{day}}-five1"><label for="{{day}}-five1"></label></div>
    <div class="box six"><input type="checkbox" class="chkbx" id="{{day}}-six1"><label for="{{day}}-six1"></label></div>
    <div class="box seven"><input type="checkbox" class="chkbx" id="{{day}}-seven1"><label for="{{day}}-seven1"></label></div>
    <div class="box eight"><input type="checkbox" class="chkbx" id="{{day}}-eight1"><label for="{{day}}-eight1"></label></div>
    <div class="box nine"><input type="checkbox" class="chkbx" id="{{day}}-nine1"><label for="{{day}}-nine1"></label></div>
    <div class="box ten"><input type="checkbox" class="chkbx" id="{{day}}-ten1"><label for="{{day}}-ten1"></label></div>
    <div class="box eleven"><input type="checkbox" class="chkbx" id="{{day}}-eleven1"><label for="{{day}}-eleven1"></label></div>
    <div class="box twelve"><input type="checkbox" class="chkbx" id="{{day}}-twelve1"><label for="{{day}}-twelve1"></label></div>
    <div class="box thirteen"><input type="checkbox" class="chkbx" id="{{day}}-thirteen1"><label for="{{day}}-thirteen1"></label></div>
    <div class="box fourteen"><input type="checkbox" class="chkbx" id="{{day}}-fourteen1"><label for="{{day}}-fourteen1"></label></div>
    <div class="box fifteen"><input type="checkbox" class="chkbx" id="{{day}}-fifteen1"><label for="{{day}}-fifteen1"></label></div>
    <div class="box sixteen"><input type="checkbox" class="chkbx" id="{{day}}-sixteen1"><label for="{{day}}-sixteen1"></label></div>
    <div class="box seventeen"><input type="checkbox" class="chkbx" id="{{day}}-seventeen1"><label for="{{day}}-seventeen1"></label></div>
    <div class="box eighteen"><input type="checkbox" class="chkbx" id="{{day}}-eighteen1"><label for="{{day}}-eighteen1"></label></div>
    <div class="box nineteen"><input type="checkbox" class="chkbx" id="{{day}}-nineteen1"><label for="{{day}}-nineteen1"></label></div>
    <div class="box twenty"><input type="checkbox" class="chkbx" id="{{day}}-twenty1"><label for="{{day}}-twenty1"></label></div>
    <div class="box twenty-one"><input type="checkbox" class="chkbx" id="{{day}}-twentyone1"><label for="{{day}}-twentyone1"></label></div>
    <div class="box twenty-two"><input type="checkbox" class="chkbx" id="{{day}}-twentytwo1"><label for="{{day}}-twentytwo1"></label></div>
    <div class="box twenty-three"><input type="checkbox" class="chkbx" id="{{day}}-twentythree1"><label for="{{day}}-twentythree1"></label></div>
    <div class="box twenty-four"><input type="checkbox" class="chkbx" id="{{day}}-twentyfour1"><label for="{{day}}-twentyfour1"></label></div>
</div> <!-- wrapper -->
