@import "../../sass/master";

.wrapper {
  min-width: 1060px;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-gap: 2px;
  margin: 5px;
  color: #444;
}
.head-row, .box {
  border: 2px solid black;
}

.box {
  color: #fff;
  border-radius: 5px;
  font-size: 70%;
  display: flex;
}
.chkbx {
  display: none;
}
.chkbx + label{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.chkbx:checked + label{
  // pointer-events: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: $color5;
}

.day {
  background-color: white;
  color: black;
}

.head-row {
  @extend .day;
}
.table-border {
  display: flex;
  justify-content: center;
  background-color: $color4;
  color: #fff;
}
.box-one {
  visibility: hidden;
}

.wrapper:nth-child(odd) .color-switch {
  background-color: $color1;
}
.wrapper:nth-child(even) .color-switch {
  background-color: $color2;
}

.charts {
  margin-top: 5vh;
  border: 1px solid lightgrey;
  padding: 5%;
  display: block;
}
.charts h3 {
  text-align: center;
  font-weight: bold;
}
#doughnut {
  display: none;
}
