<div class="wrapper">
  <div class="head-row box one"></div>
  <div class="head-row box one">7pm</div>
  <div class="head-row box two">8pm</div>
  <div class="head-row box three">9pm</div>
  <div class="head-row box four">10pm</div>
  <div class="head-row box five">11pm</div>
  <div class="head-row box six">12am</div>
  <div class="head-row box seven">1am</div>
  <div class="head-row box eight">2am</div>
  <div class="head-row box nine">3am</div>
  <div class="head-row box ten">4am</div>
  <div class="head-row box eleven">5am</div>
  <div class="head-row box twelve">6am</div>
  <div class="head-row box thirteen">7am</div>
  <div class="head-row box fourteen">8am</div>
  <div class="head-row box fifteen">9am</div>
  <div class="head-row box sixteen">10am</div>
  <div class="head-row box seventeen">11am</div>
  <div class="head-row box eighteen">12pm</div>
  <div class="head-row box nineteen">1pm</div>
  <div class="head-row box twenty">2pm</div>
  <div class="head-row box twenty-one">3pm</div>
  <div class="head-row box twenty-two">4pm</div>
  <div class="head-row box twenty-three">5pm</div>
  <div class="head-row box twenty-four">6pm</div>
  <div class="box day">Day1</div>
  <div class="box one"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box two"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box three"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box four"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box five"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box six"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box seven"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box eight"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box nine"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box ten"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box eleven"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box twelve"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box thirteen"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box fourteen"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box fifteen"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box sixteen"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box seventeen"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box eighteen"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box nineteen"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box twenty"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box twenty-one"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box twenty-two"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box twenty-three"><input type="checkbox" class="chkbx"><label><span></span></label></div>
  <div class="box twenty-four"><input type="checkbox" class="chkbx"><label><span></span></label></div>

  <div class="box day">Day3</div>
  <div class="box one"><input type="checkbox" class="chkbx"></div>
  <div class="box two"><input type="checkbox" class="chkbx"></div>
  <div class="box three"><input type="checkbox" class="chkbx"></div>
  <div class="box four"><input type="checkbox" class="chkbx"></div>
  <div class="box five"><input type="checkbox" class="chkbx"></div>
  <div class="box six"><input type="checkbox" class="chkbx"></div>
  <div class="box seven"><input type="checkbox" class="chkbx"></div>
  <div class="box eight"><input type="checkbox" class="chkbx"></div>
  <div class="box nine"><input type="checkbox" class="chkbx"></div>
  <div class="box ten"><input type="checkbox" class="chkbx"></div>
  <div class="box eleven"><input type="checkbox" class="chkbx"></div>
  <div class="box twelve"><input type="checkbox" class="chkbx"></div>
  <div class="box thirteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fourteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fifteen"><input type="checkbox" class="chkbx"></div>
  <div class="box sixteen"><input type="checkbox" class="chkbx"></div>
  <div class="box seventeen"><input type="checkbox" class="chkbx"></div>
  <div class="box eighteen"><input type="checkbox" class="chkbx"></div>
  <div class="box nineteen"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-one"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-two"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-three"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-four"><input type="checkbox" class="chkbx"></div>

  <div class="box day">Day2</div>
  <div class="box one"><input type="checkbox" class="chkbx"></div>
  <div class="box two"><input type="checkbox" class="chkbx"></div>
  <div class="box three"><input type="checkbox" class="chkbx"></div>
  <div class="box four"><input type="checkbox" class="chkbx"></div>
  <div class="box five"><input type="checkbox" class="chkbx"></div>
  <div class="box six"><input type="checkbox" class="chkbx"></div>
  <div class="box seven"><input type="checkbox" class="chkbx"></div>
  <div class="box eight"><input type="checkbox" class="chkbx"></div>
  <div class="box nine"><input type="checkbox" class="chkbx"></div>
  <div class="box ten"><input type="checkbox" class="chkbx"></div>
  <div class="box eleven"><input type="checkbox" class="chkbx"></div>
  <div class="box twelve"><input type="checkbox" class="chkbx"></div>
  <div class="box thirteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fourteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fifteen"><input type="checkbox" class="chkbx"></div>
  <div class="box sixteen"><input type="checkbox" class="chkbx"></div>
  <div class="box seventeen"><input type="checkbox" class="chkbx"></div>
  <div class="box eighteen"><input type="checkbox" class="chkbx"></div>
  <div class="box nineteen"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-one"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-two"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-three"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-four"><input type="checkbox" class="chkbx"></div>

  <div class="box day">Day4</div>
  <div class="box one"><input type="checkbox" class="chkbx"></div>
  <div class="box two"><input type="checkbox" class="chkbx"></div>
  <div class="box three"><input type="checkbox" class="chkbx"></div>
  <div class="box four"><input type="checkbox" class="chkbx"></div>
  <div class="box five"><input type="checkbox" class="chkbx"></div>
  <div class="box six"><input type="checkbox" class="chkbx"></div>
  <div class="box seven"><input type="checkbox" class="chkbx"></div>
  <div class="box eight"><input type="checkbox" class="chkbx"></div>
  <div class="box nine"><input type="checkbox" class="chkbx"></div>
  <div class="box ten"><input type="checkbox" class="chkbx"></div>
  <div class="box eleven"><input type="checkbox" class="chkbx"></div>
  <div class="box twelve"><input type="checkbox" class="chkbx"></div>
  <div class="box thirteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fourteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fifteen"><input type="checkbox" class="chkbx"></div>
  <div class="box sixteen"><input type="checkbox" class="chkbx"></div>
  <div class="box seventeen"><input type="checkbox" class="chkbx"></div>
  <div class="box eighteen"><input type="checkbox" class="chkbx"></div>
  <div class="box nineteen"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-one"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-two"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-three"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-four"><input type="checkbox" class="chkbx"></div>

  <div class="box day">Day5</div>
  <div class="box one"><input type="checkbox" class="chkbx"></div>
  <div class="box two"><input type="checkbox" class="chkbx"></div>
  <div class="box three"><input type="checkbox" class="chkbx"></div>
  <div class="box four"><input type="checkbox" class="chkbx"></div>
  <div class="box five"><input type="checkbox" class="chkbx"></div>
  <div class="box six"><input type="checkbox" class="chkbx"></div>
  <div class="box seven"><input type="checkbox" class="chkbx"></div>
  <div class="box eight"><input type="checkbox" class="chkbx"></div>
  <div class="box nine"><input type="checkbox" class="chkbx"></div>
  <div class="box ten"><input type="checkbox" class="chkbx"></div>
  <div class="box eleven"><input type="checkbox" class="chkbx"></div>
  <div class="box twelve"><input type="checkbox" class="chkbx"></div>
  <div class="box thirteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fourteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fifteen"><input type="checkbox" class="chkbx"></div>
  <div class="box sixteen"><input type="checkbox" class="chkbx"></div>
  <div class="box seventeen"><input type="checkbox" class="chkbx"></div>
  <div class="box eighteen"><input type="checkbox" class="chkbx"></div>
  <div class="box nineteen"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-one"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-two"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-three"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-four"><input type="checkbox" class="chkbx"></div>

  <div class="box day">Day6</div>
  <div class="box one"><input type="checkbox" class="chkbx"></div>
  <div class="box two"><input type="checkbox" class="chkbx"></div>
  <div class="box three"><input type="checkbox" class="chkbx"></div>
  <div class="box four"><input type="checkbox" class="chkbx"></div>
  <div class="box five"><input type="checkbox" class="chkbx"></div>
  <div class="box six"><input type="checkbox" class="chkbx"></div>
  <div class="box seven"><input type="checkbox" class="chkbx"></div>
  <div class="box eight"><input type="checkbox" class="chkbx"></div>
  <div class="box nine"><input type="checkbox" class="chkbx"></div>
  <div class="box ten"><input type="checkbox" class="chkbx"></div>
  <div class="box eleven"><input type="checkbox" class="chkbx"></div>
  <div class="box twelve"><input type="checkbox" class="chkbx"></div>
  <div class="box thirteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fourteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fifteen"><input type="checkbox" class="chkbx"></div>
  <div class="box sixteen"><input type="checkbox" class="chkbx"></div>
  <div class="box seventeen"><input type="checkbox" class="chkbx"></div>
  <div class="box eighteen"><input type="checkbox" class="chkbx"></div>
  <div class="box nineteen"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-one"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-two"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-three"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-four"><input type="checkbox" class="chkbx"></div>

  <div class="box day">Day7</div>
  <div class="box one"><input type="checkbox" class="chkbx"></div>
  <div class="box two"><input type="checkbox" class="chkbx"></div>
  <div class="box three"><input type="checkbox" class="chkbx"></div>
  <div class="box four"><input type="checkbox" class="chkbx"></div>
  <div class="box five"><input type="checkbox" class="chkbx"></div>
  <div class="box six"><input type="checkbox" class="chkbx"></div>
  <div class="box seven"><input type="checkbox" class="chkbx"></div>
  <div class="box eight"><input type="checkbox" class="chkbx"></div>
  <div class="box nine"><input type="checkbox" class="chkbx"></div>
  <div class="box ten"><input type="checkbox" class="chkbx"></div>
  <div class="box eleven"><input type="checkbox" class="chkbx"></div>
  <div class="box twelve"><input type="checkbox" class="chkbx"></div>
  <div class="box thirteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fourteen"><input type="checkbox" class="chkbx"></div>
  <div class="box fifteen"><input type="checkbox" class="chkbx"></div>
  <div class="box sixteen"><input type="checkbox" class="chkbx"></div>
  <div class="box seventeen"><input type="checkbox" class="chkbx"></div>
  <div class="box eighteen"><input type="checkbox" class="chkbx"></div>
  <div class="box nineteen"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-one"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-two"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-three"><input type="checkbox" class="chkbx"></div>
  <div class="box twenty-four"><input type="checkbox" class="chkbx"></div>

</div>




<!-- <div class="inputs">
  <div class="day">

  </div>
  <input id="one" type="checkbox">
</div> -->
