.wrapper {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-gap: 1px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #2a8fa7;
  color: #fff;
  border-radius: 5px;
  font-size: 50%;
  display: flex;
}
.chkbx {
  display: none;
}
.chkbx + label{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.chkbx:checked + label{
  // pointer-events: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: red;
}

.day {
  background-color: white;
  color: black;
}

.head-row {
  @extend .day;
}
