  <ul *ngFor="let currentSleep of sleeps | async" (click)="goToDetailPage(currentSleep)">
      <li>Date: {{currentSleep.month}}/{{currentSleep.day}}</li>
      <li>Time: {{currentSleep.startTime}}:00</li>
      <li>Woke At: {{currentSleep.wakeTime}}:00</li>
      <li>Quality: {{currentSleep.quality}}</li>
      <!-- <button class="edit-btn" (click)="editButtonHasBeenClicked(currentSleep)">Edit!</button> -->
  </ul>
  <!-- <ul *ngFor="let currentSleep of ">

  </ul> -->
  <!-- <img src="/../assets/sheep/conductor-sheep.png"> -->
<div class="submit-form" id="submit-sleep-event">
  <h3>Log New Sleep Event</h3>
  <div class="selectYourTimes">
  </div>
    <select class="custom-select" id="get-month" #newMonth>
      <option>Month</option>
      <option value="1" selected>Jan</option>
      <option value="2">Feb</option>
      <option value="3">Mar</option>
      <option value="4">Apr</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">Aug</option>
      <option value="9">Sep</option>
      <option value="10">Oct</option>
      <option value="11">Nov</option>
      <option value="12">Dec</option>
    </select>

    <select class="custom-select" id="get-day" #newDay>
      <option>Day</option>
      <option value="1">1</option>
      <option value="2" selected>2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="20">20</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31" selected>31</option>
    </select>

    <select class="custom-select" id="get-sleep-start" #newStartTime>
      <option selected>Sleep began at:</option>
      <option value="0">12am</option>
      <option value="1">1am</option>
      <option value="2">2am</option>
      <option value="3">3am</option>
      <option value="4">4am</option>
      <option value="5">5am</option>
      <option value="6">6am</option>
      <option value="7">7am</option>
      <option value="8">8am</option>
      <option value="9">9am</option>
      <option value="10">10am</option>
      <option value="11">11am</option>
      <option value="12">12pm</option>
      <option value="13">1pm</option>
      <option value="14">2pm</option>
      <option value="15">3pm</option>
      <option value="16">4pm</option>
      <option value="17">5pm</option>
      <option value="18">6pm</option>
      <option value="19">7pm</option>
      <option value="20">8pm</option>
      <option value="21">9pm</option>
      <option value="22">10pm</option>
      <option value="23">11pm</option>
    </select>

    <select class="custom-select" id="get-sleep-end" #newWakeTime>
      <option selected>Hours Slept:</option>
      <option value="0">.5</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>

    <div class="quality-time">
      <select class="custom-select" id="get-quality" #newQuality>
        <option selected>Select Sleep Quality</option>
        <option value="1">Poor</option>
        <option value="2">Normal</option>
        <option value="3">Great</option>
      </select>
    </div>

    <button type="button" name="button" (click)="submitForm(newMonth.value, newDay.value, newStartTime.value, newWakeTime.value, newQuality.value)">Submit</button>
  </div>

  <div class="charts"  id="doughnut" style="display: block">
    <h3>Day View</h3>
    <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
    </canvas>
  </div>
<div>
  <div class="charts" id="bar" style="display: block">
    <h3>January</h3>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
  <div class="charts" id="line">
    <h3>Monthly Average</h3>
    <canvas baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [chartType]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>



<!-- <div class="" *ngFor="let month of months">
  <h3>{{month}}</h3>
  <div class="wrapper">
    <div class="head-row box box-one"></div>
    <div class="head-row box table-border" *ngFor="let hour of hours">{{hour}}:00</div>
  </div>
  <div class="wrapper" *ngFor="let day of days">
    <div class="box day table-border">Day {{day}}</div>
    <div class="box color-switch" *ngFor="let hour of hours"><input type="checkbox" class="chkbx" id="{{month}}-{{day}}-{{hour}}" value="{{month}}-{{day}}-{{hour}}" (click)="sleepStart($event.target.id)"><label for="{{month}}-{{day}}-{{hour}}"></label></div>
  </div> -->
