<nav class="nav-float-container">
  <div class="nav-sky">
    <ul>
      <li class="nav-info-button"><div (click)="pauseAnimation($event.currentTarget)" class="nav-button" id="pause" routerLink=""><a>Pocket Cheerleader</a></div></li>
      <li class="nav-info-button"><div (click)="pauseAnimation($event.currentTarget)" class="nav-button" routerLink="mood"><a>Mood Tracker</a></div></li>
      <li class="nav-info-button"><div (click)="pauseAnimation($event.currentTarget)" class="nav-button" routerLink="sleep"><a>Sleep Tracker</a></div></li>
      <li class="nav-info-button"><div (click)="pauseAnimation($event.currentTarget)" class="nav-button" routerLink="about"><a>About the Project</a></div></li>
    </ul>
  </div>
</nav>




<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Pocket Cheerleader</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="mood">Mood Tracker</a></li>
      <li><a routerLink="sleep">Sleep Tracker</a></li>
      <li><a routerLink="about">About the Project</a></li>
    </ul>
  </div>
</nav> -->

<div class="container-fluid content-holder">

  <h1>This is working = stuff will go here</h1>
  <router-outlet></router-outlet>

</div>
