
<div class="welcome-container">
  <!-- <img src="/../assets/sheep/conductor-sheep.png"> -->

  <div class="box-for-users">
    <h2>Welcome Aboard the Sleep Train</h2>
    <h5>Who are you?</h5>
    <div class="users-box">
      <!-- <div *ngFor="let user of users | async" (click)="goToDetailPage(user)"> -->
        <a class="link" routerLink="sleep"><div class="users-box-output">
          Griffin
          <!-- <h3><em>{{user.firstName}}</em></h3> -->
        </div></a>
        <a class="link" routerLink="sleep"><div class="users-box-output">
          Holly

          <!-- <h3><em>{{user.firstName}}</em></h3> -->
        </div></a>
        <a class="link"routerLink="sleep"><div class="users-box-output">
          Kevin
          <!-- <h3><em>{{user.firstName}}</em></h3> -->
        </div></a>
        <a class="link"routerLink="sleep"><div class="users-box-output">
          Lena
          <!-- <h3><em>{{user.firstName}}</em></h3> -->
        </div></a>

      <!-- </div> -->
    </div>

  </div>
</div>
